body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18191f;
}
.digital-watch {
  background-color: #18191f;
  border-radius: 15px;
  box-shadow: -6px -6px 6px rgba(255,255,255,0.05),
              6px 6px 6px rgba(0,0,0,0.2);
}
.digital-watch .hour,
.digital-watch .minute,
.digital-watch .second {
  position: relative;
  display: inline-block;
  margin: 30px;
  font-size: 0;
}
.digital-watch .hour::before,
.digital-watch .hour::after,
.digital-watch .minute::before,
.digital-watch .minute::after {
  content: '';
  position: absolute;
  right: -40px;
  width: 20px;
  height: 20px;
  background-color: #0f0;
}
.digital-watch .hour::before,
.digital-watch .minute::before {
  top: 80px
}
.digital-watch .hour::after,
.digital-watch .minute::after {
  top: 188px
}
.digital-watch svg {
  display: inline-block;
  margin: 20px;
}
.digital-watch svg .segment {
  fill: rgba(0,0,0,.15);
  transition: .2s ease-in-out;
}

.digital-watch svg.num-1 .b,
.digital-watch svg.num-1 .c,

.digital-watch svg.num-2 .a,
.digital-watch svg.num-2 .b,
.digital-watch svg.num-2 .d,
.digital-watch svg.num-2 .e,
.digital-watch svg.num-2 .g,

.digital-watch svg.num-3 .a,
.digital-watch svg.num-3 .b,
.digital-watch svg.num-3 .c,
.digital-watch svg.num-3 .d,
.digital-watch svg.num-3 .g,

.digital-watch svg.num-4 .b,
.digital-watch svg.num-4 .c,
.digital-watch svg.num-4 .f,
.digital-watch svg.num-4 .g,

.digital-watch svg.num-5 .a,
.digital-watch svg.num-5 .c,
.digital-watch svg.num-5 .d,
.digital-watch svg.num-5 .f,
.digital-watch svg.num-5 .g,

.digital-watch svg.num-6 .a,
.digital-watch svg.num-6 .c,
.digital-watch svg.num-6 .d,
.digital-watch svg.num-6 .e,
.digital-watch svg.num-6 .f,
.digital-watch svg.num-6 .g,

.digital-watch svg.num-7 .a,
.digital-watch svg.num-7 .b,
.digital-watch svg.num-7 .c,

.digital-watch svg.num-8 .a,
.digital-watch svg.num-8 .b,
.digital-watch svg.num-8 .c,
.digital-watch svg.num-8 .d,
.digital-watch svg.num-8 .e,
.digital-watch svg.num-8 .f,
.digital-watch svg.num-8 .g,

.digital-watch svg.num-9 .a,
.digital-watch svg.num-9 .b,
.digital-watch svg.num-9 .c,
.digital-watch svg.num-9 .d,
.digital-watch svg.num-9 .f,
.digital-watch svg.num-9 .g,

.digital-watch svg.num-0 .a,
.digital-watch svg.num-0 .b,
.digital-watch svg.num-0 .c,
.digital-watch svg.num-0 .d,
.digital-watch svg.num-0 .e,
.digital-watch svg.num-0 .f
{
  fill: #0f0;
}
