body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #131419;
  font-family: 'Orbitron', sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.clock-box {
  width: 500px;
  height: 150px;
  display: flex;
  position: relative;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  background: #131419;
  box-shadow: -5px 5px 15px #0d0e11, 
              5px -5px 15px #191a21;
}
.clock-box span {
  text-align: center;
  font-size: 60px;
  transition: color .5s;
}
.clock-box span:nth-child(1) {
  width: 70%;
}
.clock-box span:nth-child(2) {
  width: 30%;
}
.clock-box .clock-box__color {
  height: 150px;
  position: absolute;
  right: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clock-box .clock-box__color .color__item {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background: #131419;
  box-shadow: -5px 5px 5px #0d0e11, 
  5px -5px 5px #191a21;
  transition: .5s;
}
.clock-box .clock-box__color .color--active {
  border-radius: 5px;
  background: #131419;
  box-shadow: inset -5px 5px 14px #0d0e11, 
              inset 5px -5px 14px #191a21;
}
.day-box {
  margin: 20px;
  padding: 0 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.day-box span {
  padding: 10px;
  border-radius: 5px;
  background: #131419;
  box-shadow: -5px 5px 5px #0d0e11, 
              5px -5px 5px #191a21;
  transition: .5s;
}
.text--blue {
  color: #00f2ff52;
}
.clock-box .color .text--blue:hover {
  text-shadow: 0 0 10px #00f2ff52;
}
.text--blue-active {
  color: #00f3ff;
  text-shadow: 0 0 3px #00f3ff;
}
.text-clock--blue {
  color: #00f3ff;
  text-shadow: 0 0 10px #00f3ff;
}
.text--red {
  color: #ff000052;
}
.clock-box .color .text--red:hover {
  text-shadow: 0 0 10px #ff000052;
}
.text--red-active {
  color: #ff0000;
  text-shadow: 0 0 3px #ff0000;
}
.text-clock--red {
  color: #ff0000;
  text-shadow: 0 0 10px #ff0000;
}
.text--green {
  color: #00ff0052;
}
.clock-box .color .text--green:hover {
  text-shadow: 0 0 10px #00ff0052;
}
.text--green-active {
  color: #00ff00;
  text-shadow: 0 0 3px #00ff00;
}
.text-clock--green {
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
}
